<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Movie App</title>
    <meta name="description" content="" />
  </head>

  <div id="myDIV" class="header">
    <h2>My Movie List</h2>
    <input type="text" id="myInput" placeholder="Title..." />
    <span onclick="addMovie()" class="addBtn">Add New Movie</span>
  </div>

  <body>
    <ul id="myUL">
      <p></p>
      <strong>Movies:</strong>
      <p></p>
      {{range .movies}} {{if not .Completed}}
      <li id="{{.ID}}" class="list">
        {{.Title}}
        <span>
          <button onclick="completeHandler({{.ID}}, {{.Title}}) ">
            <strong>Complete</strong>
          </button>
          <button onclick="deleteHandler({{.ID}}) ">
            <strong>Delete</strong>
          </button>
        </span>
      </li>
      {{end}} {{end}}
    </ul>
    <p></p>
    <strong>Completed Movies:</strong>
    <p></p>
    <ul id="myULCompleted">
      {{range .movies}} {{if .Completed}}
      <li class="checked">{{.Title}}</li>
      {{end}} {{end}}
    </ul>

    <script>
      {{template "moviejs" .}}
    </script>
  </body>

  <style>
    {{template "moviecss" .}}
  </style>
</html>
